{% extends 'base.html' %}

{%block title%} Contact {% endblock title %}

{% block body %}
<div class="container">
  <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 my-4" alt="...">
  <h1 class="text-center">Contact Us</h1>
  <div class="container "></div>
    <div class="mb-3">
  <form method="POST" action="/contact">
 {% csrf_token %}
  <div class=" form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="email"
        placeholder="Enter your Email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Contact number</label>
      <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your Number">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Tell me about what you want to contact me for.</label>
      <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
    </div>
    <button value='submit' class="btn btn-primary" type="submit">submit</button>
</div>
</form>
</div>
</div>

{% endblock body %}